
aiohttp
tgcrypto
pyrogram
Python-arq
asyncio
aiofiles
itsdangerous==1.1.0
markupsafe==1.1.1
aiofiles
dnspython
ffmpeg-python
gitpython
hachoir
lyricsgenius
motor==3.0.0
pillow
psutil
py-tgcalls==0.8.6
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
tgcrypto
